<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>PingPong Count!</title>
    </head>
    <body>
        <div class='container'>
            <h1>Ping Pong!</h1>

            {% for output in result %}
                <p>{{ output }}</p>
            {% endfor %}
        </div>
    </body>
</html>
